<% layout('layouts/boilerplate') -%>
<body>    
  
    <div class="hero-section">

        <div class="hero-section-content">
          
            <div class="hero-section-title">Book Your Game</div>
            <div class="hero-section-headline"> FIND THE <br><span style="color:#1db954;">PERFECT TURF</span></div>
            <div class="hero-sectionn-text">Discover the best cricket turfs near you <br>
Book your slot instantly and never miss a game.</div>

        </div>
        
    </div>

    <div class="card-display">
          <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1" >
        <% for(let turf of allTurfs){ %>
            <a href="/turfs/<%= turf._id %>" class="turf-link">
    <div class="card" >
  <img src="<%= turf.image%>" class="card-img-top" alt="turf-image"  style="height: 15rem;">
  <div class="card-body">

    <p class="card-text"><b> <span style="font-size: 1.5rem;"><%= turf.name %></span></b> <br>
         <i class="fa-solid fa-location-dot"></i> <%= turf.location %>
        <hr>
        <p class="card-price">
            &#8377; <%= turf.price.toLocaleString("en-IN") %> <span>/ hour</span>
        </p>
    
    
    </p>

  </div>
</div>
</a>
  <%}%>  
    </div>
    </div>
   
        
    
</body>


