<% layout('layouts/boilerplate') -%>
<body>

    <div class="image-container">
      <img src=<%=turf.image%> class="turf-image" alt="turf-image">
    </div>

    <div class="details">
        <div class="data-details">
            <div class="intro">
                <h1 style="color: #1db954;font-family:Anton;"><%=turf.name%></h1>
                <p style="opacity: 0.5;"><i class="fa-solid fa-location-dot"></i><%=turf.location%></p>
            </div>
            <div class="description">
                 <div>
                    <h5>ABOUT THIS TURF</h5>
                    <p><%= turf.description %></p>
                 </div>
            </div>
            <br>
            <hr>
            <h4 style="color: #1db954;font-family:Anton">Leave a review</h4>
            <br>
            <div class="review-form">
                <form action="/turfs/<%=turf._id%>/reviews" method="POST" novalidate class="needs-validation">
                    <label class="form-label" for="rating">Rating: </label>
                    <input class="form-range"type="range" min="1" max="5" id="rating" name="review[rating]">
                    <br>
                    <div class="comment">
                    <label class="form-label" for="comment">Comment: </label>
                    <textarea required class="form-control" id="comment" name="review[comment]" cols="30" rows="5"></textarea>
                    <div class="invalid-feedback">Please Add Some Comment For Review</div>
                    </div>
                    <br>

                    <button class="btn btn-outline-light">Submit</button>
                </form>
            </div>
            <hr>
            <h4 style="color: #1db954;font-family:Anton">All Reviews</h4>

            <ul>
            <div class="review-cards">
               <% for(review of turf.reviews){ %>
          <div class="card-review">
            <div class="card-body-review">
                <h5 class="card-title-review">Jane Doe</h5>
                <p class="card-text"><%= review.comment %> </p>
                <p class="card-text"><%= review.rating %> Stars </p>
                <form action="/turfs/<%= turf._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button class="btn btn-outline-light">Delete</button>
            </form>
            </div>

          </div>
        <% } %>
            </div>
        
        </ul>  
        
        </div>

        <div class="book-details">
            <div class="book-price">
                <h1><span style="color:#1db954;">&#8377; <%= turf.price.toLocaleString("en-IN") %> </span></h1> / hour
                <hr>
                
            </div>
        </div>

    </div>

    

   
</body>
